body{margin:0;font-family:Arial;background:#0b0b0b;color:#fff}
nav{background:#000;padding:15px;text-align:center}
nav a{color:#4fc3f7;margin:0 15px;text-decoration:none;font-weight:bold}
.container{max-width:1100px;margin:auto;padding:70px 20px}
.whatsapp{position:fixed;bottom:20px;right:20px;background:#25d366;color:#fff;padding:14px 18px;border-radius:50px;text-decoration:none;font-weight:bold}
